@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --txt-color:#6E6259;    
    --border-color: #C00D1E;
}

#bg{ background: url("../img/main.jpg") fixed; }
h1{ display: block; }
h5{
    color: #000;
    font:600 1.5em "Roboto", sans-serif;
}
#head-text p{ color: #000; }
header { height: 25vh; }
#catalog{ position: relative; }
#selection-boxes{
    background: #fff;
    font:500 1em "Roboto", sans-serif;
    color: var(--txt-color);
    width: 100%;
    padding: 10px 5px;
    display: none;
    margin-bottom:10px ;
}
#selection-boxes label{
    display: block;
    margin: 10px 0;
}
#btn{
   display: flex;
   justify-content: end;
   font-size: 1.5em;
}
.item {
   text-align: center;
   font:1em "Roboto", sans-serif;
   width: 50%;
}
.item { height: 40vh; }
.items{ flex-wrap: wrap; }
#catalog{ align-items: start; padding: 10px; }
h1{ color: var(--txt-color); padding: 10px;}
.filter-box{ width: 60% ;}
@media only screen and (min-width:992px) {
    #selection-boxes{
        display: block;
        box-shadow: none;
        width: 100%;
    }
    .d-none{display: none;}
    .item{ width: 33%; }
}